

.tytul1 {
   color: red;
}

.tekst1 {
    color: blue;
}

.tytul2 {
    color: green;
}

.tekst2 {
    color: yellow;
}


.podpunkt1 {
    color: orange
}

.podpunkt2 {
    color: silver;
}

.podpunkt3 {
    color: gold;
}

.podpunkt4 {
   color: blue;
}

.podpunkt5 {
    color: purple;
}
