
body {
    background-color: cornflowerblue;
}

.tytul1 {
    background-color: khaki;
}

.tekst1 {
    background-color: lightcoral;
}

.tytul2 {
    background-color: lightslategray;
}

.tekst2 {
    background-color: mediumorchid;
}

.lista {
    background-color: orange;
}

.podpunkt1 {
    background-color: palevioletred;
}

.podpunkt2 {
    background-color: purple;
}

.podpunkt3 {
    background-color: seagreen;
}

.podpunkt4 {
    background-color: springgreen;
}

.podpunkt5 {
    background-color: yellow;
}